<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <remove name="LocalSqlServer" />
  <add name="LocalSqlServer" connectionString="Data Source=127.0.0.1;Initial Catalog=bhavik;User ID=bhavik;PWD=Z0pKit00;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="bhavikCS" connectionString="Data Source=127.0.0.1;Initial Catalog=bhavik;UID=bhavik;PWD=Z0pKit00;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="pubsCS" connectionString="Data Source=127.0.0.1;Initial Catalog=pubs;UID=bhavik;PWD=Z0pKit00;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="NorthwindCS" connectionString="Data Source=127.0.0.1;Initial Catalog=Northwind;UID=bhavik;PWD=Z0pKit00;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="AdventureWorksCS" connectionString="Data Source=127.0.0.1;Initial Catalog=AdventureWorks;UID=bhavik;PWD=Z0pKit00;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="AdventureWorksDWCS" connectionString="Data Source=127.0.0.1;Initial Catalog=AdventureWorksDW;UID=bhavik;PWD=Z0pKit00;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="DataSourceConnectionString" connectionString="Data Source=127.0.0.1;Persist Security Info=True;User ID=bhavik;Password=Z0pKit00"
    providerName="System.Data.SqlClient" />
</connectionStrings>
